:root {
  --logotype-font: "Raleway", sans-serif;
  --text-font: "Roboto", sans-serif;
  --primary-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --background-dark-color: #2f303a;
  --background-gray-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --logotype-color: #000000;
}

body {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

ul {
  list-style-type: none;
}

/* ===== HEADER ===== */
.logotype {
  font-family: var(--logotype-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logotype-color);
  text-decoration: none;
}

.logotype-part {
  color: var(--accent-color);
}
.navigation-list-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.current-link {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
/* ===== HEADER END ===== */

/* ===== HERO ===== */
.hero {
  background-color: var(--background-dark-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/* ===== HERO END ===== */

/* ===== FEATURES ===== */

.features-title {
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-description {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ===== FEATURES END ===== */

/* ===== OUR JOB ===== */
.our-job-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ===== OUR JOB END ===== */

/* ===== OUR TEAM ===== */
.our-team-section {
  background-color: var(--background-gray-color);
}

.our-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.developer-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.developer-job {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.our-team-img {
  width: 270px;
  height: 260px;
}
/* ===== OUR TEAM END ===== */

/* ===== FOOTER ===== */
.footer {
  background-color: var(--background-dark-color);
}

.logotype-second-part {
  color: var(--primary-white-color);
}

.address-list-link {
  text-decoration: none;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.address-link-color {
  color: var(--address-link-color);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
/* ===== FOOTER END ===== */

/* ===== PORTFOLIO ===== */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-list-link {
  text-decoration: none;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-list-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ===== PORTFOLIO END ===== */
